/* style.css */
.hidden {
    display: none;
}
@font-face {
    font-family: "CustomFont";
    src: url("/zh-cn.ttf") format("truetype");
}
#videoContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#video {
    width: 110%;
    height: auto;
}
body {
    background-image: url("img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: "CustomFont", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}